<script src="../../assets/js/gt.js"></script>
<div class="container-fluid mt-5" id="nominations-list">

  <form class="" (ngSubmit)="onVote(f)" #f="ngForm">
    <div class="container mt-0" id="list">


      <div class="row">

        <div class="col-md-4 card text-center " *ngFor="let nominee of nominees;let i = index;">

          <a class="card-body  view-card-body p-1" data-toggle="modal" data-target="#nomineeModal"
             (click)="viewNominee(nominee)">
            <h3>{{ nominee.name }} <span> {{ nominee.introduction }}</span></h3>
          </a>

          <div class="card-body  p-1">
            <div class="progress" style="height: 20px;" *ngIf="nominee.votesNumber>=0">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                   attr.aria-valuenow="{{ nominee.votesNumber* 100 /max  }}"
                   aria-valuemin="0" aria-valuemax="100" [style.width]="nominee.votesNumber *100/max  +'%'"
                   *ngIf="nominee.votesNumber>0"> {{ nominee.votesNumber }}
              </div>
            </div>

            <div class="row d-flex align-items-center justify-content-center">
              <div class="custom-control custom-checkbox mb-3 container">
                <input type="checkbox" #checkBox id="{{nominee.id}}" ngModel name="{{nominee.id}}"
                       (change)="checkItem($event, nominee)">
                <label for="{{nominee.id}}">选TA</label>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <hr>
    <div class="row mt-5 d-flex justify-content-center ">


      <div class="col-6 d-flex justify-content-center" id="chosen-items">
        <a class="p-1 m-1 col-2 badge badge-warning chosen-item" (click)="remove(i,n)"
           *ngFor="let n of chosenNominees;let i = index;">
          <strong>{{ n.name }}</strong>
        </a>
      </div>
      <div class="w-100"></div>

      <div class="col-4 m-3 d-flex justify-content-center" id="button">
        <div class="col-8"> <div id="captchaBox" >  </div></div>
        <div class="w-100"></div>
        <button class="btn col-8" id="vote-btn" > 投票</button>
      </div>


    </div>


  </form>


</div>

<!--for max number alert-->
<div class="modal fade" id="max-number-alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <p>每次最多只能投5票</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="nomineeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nomineeModalLabel">详细信息</h5>
      </div>
      <div class="modal-body">
        <div class="col-12 text-center ">
          <img class="img-thumbnail" id="blah" [src]="imgSrc" alt="your image" [hidden]="imgSrc==null"/>
        </div>
        <h2>{{ modalNominee.name}} </h2>
        <p>简介：{{ modalNominee.introduction}} </p>
        <p class="text-center">{{ modalNominee.story}} </p>
        <p>专业：{{ modalNominee.school.name}} </p>
        <p>类型：{{ modalNominee.type.name}} </p>
        <p>Ta的票数：{{ modalNominee.votesNumber}} </p>
        <p>remark：{{ modalNominee.remark}} </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modifyNominee(modalNominee)">修改
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
