#list {
  overflow-y: auto;
  height: 500px;
}

/* for the checked box*/
#nominations-list input {
  position: absolute;
  left: -9999px;
}

#nominations-list label {
  display: block;
  position: relative;
  margin: 15px;
  padding: 10px 25px 10px 55px;
  border-radius: 70px;
  color: #fff;
  background-color: #6a8494;
  /*background-color: rgb(67,96,181);*/

  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

#nominations-list label::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 32px;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color .2s;
}

#nominations-list label:hover, #nominations-list input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

#nominations-list input:checked + label {
  background-color: rgb(67,96,181);
  /*background-color: rgb(67,96,181);*/

}
.progress-bar {
  background-color: rgb(67,96,181);
}

#nominations-list input:checked + label::before {
  background-color: #fff;
}


/*for card style*/
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card {
  /* Styling */
  /*width: 700px;*/
  /*height: 400px;*/
  background-color: rgba(255, 255, 255);
  color: black;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
h3 {
  /*color: #FC5135;*/
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  margin-top: 8px;
  text-align: center;
  font-size: 26px;
}
h3 span {
  /*color: #d6968f;*/
  color: rgb(67,96,181);
  display: block;
  font-size: .55em;
  letter-spacing: 3px;
  margin-top: 13px;
}

/*for the submit button*/
button {
  /*background-color: #87314e;*/
  background-color: rgb(67,96,181);
  color: white;
  /*border: 1px #df405a solid;*/
}

.chosen-item {
  /**/
  background-color: rgb(67,96,181);
  color: white;
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
  overflow-x: hidden;

}

.chosen-item:hover{
  cursor: pointer;
}



/*for modal*/
.modal {
  color: black;
}

#captchaBox {
  width: 100%;
  min-width: 20px;
}


