.row{
  margin-top: 20px;
}


img{
  height: 200px;

}

/*#submit-btn {*/
  /*background-color: #87314e;*/
  /*color: white;*/
  /*border: 1px #870242 solid;*/
/*}*/


.help-block {
  color: #d6968f;
}


.container {
  color: rgb(67,96,181);

}


input, textarea, select {
  background-color: white;
  color: black;

}

label {
  background-color: transparent;
  color: rgb(67,96,181);

}

/*for the file upload button*/
#uploadLabel{
  background-color: white;
  border-color: white;
}
.input-group-text{
  border-color: white;
  opacity: 0.8;
}

/*for the placeholder */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #323a45;
  opacity: 0.3;
}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {
  color: #111;
  opacity: .5;
  transition: all 0.3s ease;
}



