<script src="../../assets/js/gt.js"></script>

<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="col-12 text-center">提名须知</h2>
    <ul class="col-10 col-sm-8 col-md-8">
      <li> 提名投票开放时间：5月8日20:18-5月21日23:59</li>
      <li> 投票期间，每IP每天可参与投票一次，选择不多于10位候选人</li>
      <li> 若使用校内公共网络投票，每票可为候选人增加8点能量；若使用其他网络投票，每票可为候选人增加2点能量。</li>
      <li> 若意向投票人员未在候选人列表内（请通过搜索确认），可另行提名，新提名将在24小时内完成审核</li>
      <li> 如在投票中遇到其他技术问题，请使用复旦邮箱致信yishutuan@fudan.edu.cn</li>
    </ul>
  </div>

  <hr>
  <form (ngSubmit)="onStoreNominee()" [formGroup]="nomineeForm">
    <div class="row d-flex justify-content-center">
      <h4 class="col-12 text-center">被提名人信息</h4>

      <div class="w-100"></div>
      <div class="col-12 col-sm-8 col-md-8 form-group">
        <div class="col-12 text-center">

          <img class="img-thumbnail" id="blah" [src]="imgSrc" alt="your image" [hidden]="imgSrc==null || imgSrc.length==0"/>
        </div>
        <div class="col-12 input-group pl-0 pr-0 mt-1">
          <div class="custom-file">
            <label class="custom-file-label" for="fileupload" id="uploadLabel">{{ localImgName }}</label>
            <input type="file" class="form-control-file custom-file-input" id="fileupload"
                   (change)="onSelectFile($event)" formControlName="photo">
          </div>
          <div class="input-group-append">
            <span class="btn input-group-text" id="remove" (click)="clearPhoto();">清空图片</span>
          </div>
        </div>
      </div>

      <div class="w-100"></div>

      <div class="col-12 col-sm-8 col-md-8 form-group ">
        <label class="col-12 control-label pl-0 pr-0">*姓名</label>
        <div class="col-12 pl-0 pr-0">
          <input type="text" class="form-control col-xs-8" placeholder="姓名或团体名" formControlName="name" required>
        </div>
        <div *ngIf="!nomineeForm.get('name').valid && nomineeForm.get('name').touched" class="help-block"> 姓名不能为空</div>
      </div>

      <div class="w-100"></div>
      <div class="col-8 col-sm-4 col-md-4 form-group">
        <label class="col-12 control-label pl-0">*院系</label>
        <div class="col-12 pl-0">
          <select class="form-control" formControlName="school" required>
            <option *ngFor="let school of schools" [ngValue]="school.id"> {{ school.name }}</option>
          </select>

        </div>
        <div *ngIf="!nomineeForm.get('school').valid && nomineeForm.get('school').touched" class="help-block"> 院系不能为空
        </div>

      </div>
      <div class="col-4 col-sm-4 col-md-4 form-group">
        <label class="col-12 control-label">*类型</label>
        <div class="col-12 pr-0">
          <select class="form-control" formControlName="type" required>
            <option *ngFor="let t of types" [ngValue]="t.id">{{ t.name }}</option>

          </select>
        </div>
        <div *ngIf="!nomineeForm.get('type').valid && nomineeForm.get('type').touched" class="help-block"> 类型不能为空</div>

      </div>


      <div class="w-100"></div>
      <div class="col-12 col-sm-8 col-md-8 form-group">
        <label class="col-xs-3 text-right">*简介</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" placeholder="一句话概括，15字以内~" formControlName="introduction" required>
        </div>
        <div *ngIf="!nomineeForm.get('introduction').valid && nomineeForm.get('introduction').touched"
             class="help-block"> 简介不能为空，且不超过15字
        </div>

      </div>

      <div class="w-100"></div>
      <div class="col-12 col-sm-8 col-md-8 form-group">
        <label class="col-xs-3 text-right">故事</label>
        <div class="col-xs-12">
          <textarea class="form-control" rows="4" placeholder="你或者他、你们或者他们的故事，140字以内"
                    formControlName="story"></textarea>
        </div>
        <div *ngIf="!nomineeForm.get('story').valid && nomineeForm.get('story').touched" class="help-block">
          故事不能超过140字
        </div>

      </div>

      <div class="w-100"></div>
      <div class="col-12 col-sm-8 col-md-8 form-group">
        <label class="col-xs-3 text-right control-label">在复旦的记忆里，是否有一个日子令你难以忘怀</label>
        <div class="col-xs-12">
          <textarea class="form-control" rows="2" placeholder="若为自己提名，请写下这个日子"
                    formControlName="remark"></textarea>
        </div>
      </div>
    </div>


    <div class="row d-flex justify-content-center">

      <h4 class="col-12 text-center">提名人信息</h4>
      <h6 class="col-12 text-center">将作为后续操作凭证，请务必记牢！</h6>
      <div class="w-100"></div>
      <div class="col-6 col-sm-3 col-md-3 form-group">
        <label class="col-xs-3 text-right control-label">*姓名</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" placeholder="你的名字" formControlName="referee" required>
        </div>
        <div *ngIf="!nomineeForm.get('referee').valid && nomineeForm.get('referee').touched" class="help-block">
          您的名字不能为空
        </div>

      </div>
      <div class="col-6 col-sm-5 col-md-5 form-group">
        <label class="col-xs-3 text-right control-label">*联系方式</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" placeholder="推荐填写手机号" formControlName="refereeContactInfo" required>
        </div>
        <div *ngIf="!nomineeForm.get('refereeContactInfo').valid && nomineeForm.get('refereeContactInfo').touched"
             class="help-block"> 您的联系方式不能为空
        </div>

      </div>


    </div>
    <div class="form-group row d-flex justify-content-center">
      <div class="">
        <div id="captchaBox"></div>
      </div>
    </div>
    <div class="form-group row d-flex justify-content-center">

      <button class="col-2 btn" id="submit-btn" [disabled]="!nomineeForm.valid">提交</button>
      <div class="col-2"></div>
      <a class="col-2 btn btn-secondary" routerLink="/" routerLinkActive="active">不了</a>
    </div>

  </form>
  <div class="modal mask">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <p>what is the f </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-primary">确认</button>
          <button class="btn btn-sm btn-default">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
