<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">返回首页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">被提名人</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">学院列表</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <main role="main" class="col-12">

      <table class="table table-striped table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col">id </th>
            <th scope="col">name </th>
            <th scope="col">introduction </th>
            <th scope="col">referee </th>
            <th scope="col">school </th>
            <th scope="col">type </th>
            <th scope="col">pass </th>
            <th scope="col">操作 </th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let nominee of nominees;">
            <td scope="row">{{ nominee.id }}</td>
            <td>{{ nominee.name }}</td>
            <td>{{ nominee.introduction }}</td>

            <td>{{ nominee.referee }}</td>

            <td>{{ nominee.school.name }}</td>
            <td>{{ nominee.type.name }}</td>
            <td>{{ nominee.passed }}</td>
            <td>
              <div class="btn-group" role="group" >
                <button class="btn " (click)="viewNominee(nominee);" data-toggle="modal" data-target="#nomineeModal">查看详细</button>
                <button class="btn " (click)="deleteNominee(nominee);">删除</button>
                <button class="btn " (click)="passNominee(nominee);">审核通过</button>
              </div>
            </td>

          </tr>
        </tbody>

      </table>
      <div class="row"> <button class="btn btn-info" (click)="addNiminee();">添加一个被提名人</button>



      </div>

      <div class="row">

        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">添加学院</button>
          </div>
        </div>
        <div class="w-100"></div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">添加类型</button>
          </div>
        </div>
        <div class="w-100"></div>


      </div>




    </main>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="nomineeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nomineeModalLabel">详细信息</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>{{ modalNominee.name}} </h2>
        <p>简介：{{ modalNominee.introduction}} </p>
        <p>{{ modalNominee.story}} </p>
        <p>专业：{{ modalNominee.school.name}} </p>
        <p>Ta的票数：{{ modalNominee.votesNumber}} </p>
        <p>会有图片</p>
        <hr>
        <p>提名人：{{ modalNominee.referee}} </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="modifyNominee(modalNominee);">修改</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
