<div class="container-fluid p-0 d-flex flex-column justify-content-center">
  <div class="collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>红毯晚会相关信息</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context.
            Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some
            social networking sites or contact information.</p>

        </div>
      </div>
    </div>
  </div>
  <nav class="navbar  m-0 pl-0  row d-flex">
    <a class="col-4 col-lg-3 pl-0 mr-auto" href="#"><img src="../../assets/img/logotype-redcarpet.png" width="120px" ></a>


    <a class="mr-1 p-0 col-1 col-md-1 col-lg-1 d-flex justify-content-end" (click)="login()">
      <i class="adminfont">&#xe604;</i>
    </a>
    <button class="btn mr-0 pb-0 pt-0 col-4 col-md-1 col-lg-1" (click)="onLoadNominatePage()" id="nominate-button"><i class="mr-1  iconfont">&#x34bd;</i>我要提名
    </button>

    <!--<button class="btn mr-0 p-0 col-3 col-md-1 col-lg-1" data-toggle="modal" data-target="#info">-->
      <!--毕业晚会信息-->
    <!--</button>-->



  </nav>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/img/banner-1.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/banner-2.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/banner-3.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!--<div class="row card text-center bg-white" id="rule-card">-->
  <!--<div class="card-header" >-->
  <!--提名须知-->
  <!--</div>-->
  <!--<div class="card-body">-->
  <!--<p class="text-center">{{ rule }}</p>-->


  <!--</div>-->
  <!--<div class="card-footer ">-->
  <!--楼下投票区-->
  <!--</div>-->
  <!--</div>-->

  <app-nomination></app-nomination>
</div>


<!-- Modal -->
<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoLabel">红毯晚会信息</h5>
      </div>
      <div class="modal-body text-center">

        <h4>复旦大学2018届毕业晚会 </h4>
        <h6>2018.6.24 </h6>
        <h6> SUN 19:00 </h6>
        <h6>我们在 正大体育馆 等你</h6>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">


</script>


